.header-home-section {
  text-align: center;
  animation: fadeUp 0.8s linear forwards;
}
.categories-section {
  .categories-container {
    animation: showUp 0.8s linear forwards;
    ul {
      display: flex;
      flex-wrap: wrap;
      li {
        background-color: $color-purple-light;
        margin-right: 30px;
        border-radius: 11px;
        @include transition(0.3s);
        &:hover {
          background-color: $color-purple;
          a,
          i {
            color: $color-white;
          }
        }
        a {
          color: $color-grey;
          text-decoration: none;
          font-weight: bold;
          padding: 10px 28px;
          display: inline-block;
          @include transition(0.3s);
          i {
            color: $color-purple;
            font-size: 18px;
            @include transition(0.3s);
          }
        }
      }
    }
  }
  .monthly-quiz {
    h2 {
      animation: showUp 0.8s linear forwards;
    }
  }
  .card-container {
    position: relative;
    text-align: center;
    animation: showUp 0.8s linear forwards;
    .content {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      color: $color-white;
      .btn-style {
        margin-top: 30px;
      }
    }
  }
}
