.header-categories-section {
  animation: showUp 1s linear forwards;
  text-align: center;
  h2 {
    animation: fadeUp 1s linear forwards;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    li {
      background-color: $color-purple-light;
      margin-right: 30px;
      border-radius: 11px;
      @include transition(0.3s);
      margin-bottom: 25px;

      &:hover {
        background-color: $color-purple;
        a,
        i {
          color: $color-white;
        }
      }
      a {
        color: $color-grey;
        text-decoration: none;
        font-weight: bold;
        padding: 10px 28px;
        display: inline-block;
        @include transition(0.3s);
        i {
          color: $color-purple;
          font-size: 18px;
          @include transition(0.3s);
        }
      }
    }
  }
}

.subpage-section {
  animation: fadeUp 1s linear forwards;

  h2 {
    text-align: center;
  }
  .difficulty-container {
    display: flex;
    justify-content: center;
    li {
      margin: 0 30px;
      a {
        background-color: $color-purple-light;
        color: $color-grey;
      }
      i {
        margin-left: 15px;
        font-size: 20px;
      }
    }
    li.easy-difficulty {
      i {
        color: green;
      }
    }
    li.medium-difficulty {
      i {
        color: orange;
      }
    }
    li.hard-difficulty {
      i {
        color: red;
      }
    }
  }
}
