.quiz-container {
  overflow: hidden;
  text-align: center;
  .quiz-card {
    display: none;
    position: relative;
    &.active {
      display: block;
    }
    p {
      font-weight: bold;
      margin-bottom: 30px;
    }
    .btn-style {
      margin: 0 15px;
      &.selected {
        background-color: $color-blue;
      }
    }
    .btn-confirm {
      background-color: green;
      position: absolute;
      right: 0;
    }
  }
  .quiz-card-score {
    display: none;
    &.active {
      display: block;
    }
  }
  .scores-container.hidden {
    display: none;
  }
}
