.quiz-container {
  overflow: hidden;
  text-align: center;
  .quiz-card {
    position: absolute;
    opacity: 0;
    @include transition(0.8s);
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 0;
    &.active {
      opacity: 1;
      z-index: 1;
    }
    p {
      font-weight: bold;
      margin-bottom: 30px;
    }
    .btn-style {
      margin: 10px 15px;
      &.selected {
        background-color: $color-blue;
      }
    }
    .btn-confirm {
      background-color: green;
      position: absolute;
      right: -300px;
    }
  }
  .quiz-card-score {
    display: none;
    &.active {
      display: block;
    }
  }
  .scores-container.hidden {
    display: none;
  }
}
