// couleur charte graphique //

$color-grey: #000000;
$color-white: rgb(255, 255, 255);

$color-purple: #8f0ce1;
$color-purple-light: #8f0ce12b;
$color-blue: #1714db;

$bg-gradient: linear-gradient(45deg, $color-purple 47%, $color-blue);
